.container
    position: relative
    display: flex
    justify-content: center
    align-items: center
    z-index: -2

    .avatar-border
        position: absolute
        padding: 3px
        animation: opacity 1s linear infinite
        border-radius: 50%
        border: 5px solid grey
        z-index: -2
    
    .avatar
        display: flex
        position: absolute
        border-radius: 50%
        align-items: center
        justify-content: center
        cursor: pointer 

        -webkit-touch-callout: none 
        -webkit-user-select: none
        -khtml-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none           

        span
            color: black
            opacity: 0.5
    
    @keyframes opacity  
        0%
            opacity: 0.3

        100% 
            opacity: 0


.winner
    transition: all 1s
    background-color: #FFD700 !important
    height: 300% !important
    width: 300% !important
    z-index: -2
