.menu
    width: 100%
    background-color: #f1faee
    display: flex
    padding: 10px
    height: 50px
    align-items: center
    
    .logo img
        padding: 10px
        margin: 10px
        height: 140px
        width: auto
    
    .button
        padding: 10px
        margin: 10px
        color: #01497c
        font-size: 11pt
        align-items: center
        border-bottom: 5px solid transparent
    
    .room_id
        color: #b7b7a4
        letter-spacing: 1pt
        padding: 10px
        margin: 10px
        font-size: 8pt
        align-items: center
        border-bottom: 5px solid transparent
        margin-left: 20px
        
    .button:hover 
        border-bottom: 5px solid #99d98c
        