<div class="menu">
    <div class="left">
        <div class="logo">
            <a routerLink="/" routerLinkActive="active"><img src="assets/cropped_logo.png"/></a>
        </div>
        <div class="buttons">
            <a class="button" routerLink="/" routerLinkActive="active">Back</a>
            <a class="button" onclick="sendRestart()">Restart</a>
        </div>
    </div>
    <div class="right">
        <span class="roomId">{{ roomId }}</span>
    </div>
</div>
<avatars-holder></avatars-holder>
<winner-sign></winner-sign>