.circle_button
    display: flex
    justify-content: center
    align-content: center
    border-radius: 50%
    background-color: #e0e0e0
    padding: 2em
    border-bottom: 0.5em solid grey

    a
        font-size: 14pt
        padding: 1em
        cursor: pointer
        text-decoration: none